<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <form action="/emails" method="POST">
        Event ID:<br>
        <input type="text" id="event_id" name="event_id"><br>
        Subject:<br>
        <input type="text" id="subject" name="subject"><br>
        Content:<br>
        <input type="text" id="content" name="content" size="50"><br>
        Time to be sent: <br>
        <input type="text" id="timestamp" name="timestamp"><br><br>
        <input type="submit" value="Send">
        <input type="reset" value="Reset">
    </form>
</body>

</html>